.NavContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 0;
    background-color: #331481;
}

.formContainer{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.FormGrounds{
    display: flex;
    justify-content: space-between;
    justify-items: start;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.inputsFields{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputButton{
    width: 100%;
    background-color: #6330e4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}