.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: blink;
}

.cardWrapper {
   
    margin: 10px;
    padding: 15px;
     
}

.title{
    font-family: cursive;
    color: black;
}



.continent{
    font-family: cursive;
    color: black;
}

.imagen{
    width: 60%;
}