.cardWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    background-color: mistyrose;
    width: 15rem;
    height: 14rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 0.75rem;
    border-color: transparent;

}

.CardLink{
    text-decoration: none;
    color: black;
}






.title{
    font-family: cursive;
    color: black;
    font-size: 1rem;

}



.continent{
    font-family: cursive;
    color: black;
}

.imagen{
    width: 60%;
}