.NavContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;
    background-color: #afadae;
    padding: 0.2em;
    color: white;
    justify-content: space-around;
    align-self: flex-start;
    width: 100%;
    
  }
.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    background-image: url("C:\Users\Usuario\Desktop\PI Countries\PI-Countries\PI-Countries\client\src\components\img\henry.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 5%;
  }
  .link:hover {
    background-color: #fff;
    transition: 0.7s;
    color: rgba(255, 255, 255, 0);
  }
  .searchbar{
      display: flex;
  }