body{
    background-image: url("C:\Users\Usuario\Desktop\PI Countries\PI-Countries\PI-Countries\client\src\components\img\wallpaperuse.com-eye-soothing-wallpaper-221536.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


